body{
    background-image: url(https://img.freepik.com/vetores-gratis/papel-de-parede-de-fundo-de-flores-vetor-fofo_53876-136877.jpg?w=740&t=st=1664755926~exp=1664756526~hmac=1087f658067cca48fdae144cf250f9271d732fef4778c9a291f50dd6211d7ea0);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(100px);
}

h1{
    
    border-top: 7px none #D0B084;
    border-bottom: 7px none #D0B084;
    border-radius: 5px;
    padding: 10px;
    width: 600px;
    margin: auto;
    background-image: url(https://as2.ftcdn.net/v2/jpg/03/11/96/57/1000_F_311965734_ZZoYmIm3TJlKRCP3AAA86J601cNVuqBK.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    font-family: Roboto, sans-serif;
}

p{
    color: black;
    font-family: Roboto, sans-serif;
    text-align: justify;
}

img{
    float: left;
    height: 250px;
    width: 250px;
    margin-right: 4px;
    transform: rotate(-2deg);
    border-radius: 10px;
    image-rendering: optimizeQuality;
}

#p1{
    border: 1px solid #17407d;
    background-color: #17407d;
    border-radius: 10px;
    width: 170px;
    margin-left: 20%;
    color: white;
    font-family: Roboto, sans-serif;
    text-align: center;
}